
.form-group {
    margin-top: 1.4rem;
}

.table-max-height-1 {
    display: block;
    max-height: calc(50% - 2.8rem );
    overflow: auto;
}
.table-max-height-2 {
    display: block;
    max-height: 100%;
    overflow: auto;
}
.login-spacer {
    width: 1px;
    height: 90vh;
    right: 50%;
    top: 5vh;
    position: fixed;
    background-color: var(--accent-color);
}