@{
    ViewData["Title"] = "Agenda";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Tijd</th>
            <th scope="col">Patiënt</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" style=" width: 13rem;">01-10-2021</th>
            <td>10.00u - 11.00u</td>
            <td>Onno van Helfteren</td>
            <td><a class="btn" asp-area="Manage" asp-controller="Agenda" asp-action="Index">Annuleren</a><a class="btn" asp-area="Manage" asp-controller="Agenda" asp-action="Index">Patiënt info</a></td>
        </tr>
        <tr>
            <th scope="row" style=" width: 13rem;">01-10-2021</th>
            <td>10.00u - 11.00u</td>
            <td>Onno van Helfteren</td>
            <td><a class="btn" asp-area="Manage" asp-controller="Agenda" asp-action="Index">Annuleren</a><a class="btn" asp-area="Manage" asp-controller="Agenda" asp-action="Index">Patiënt info</a></td>
        </tr>
        <tr>
            <th scope="row" style=" width: 13rem;">01-10-2021</th>
            <td>10.00u - 11.00u</td>
            <td>Onno van Helfteren</td>
            <td><a class="btn" asp-area="Manage" asp-controller="Agenda" asp-action="Index">Annuleren</a><a class="btn" asp-area="Manage" asp-controller="Agenda" asp-action="Index">Patiënt info</a></td>
        </tr>
        <tr>
            <th scope="row" style=" width: 13rem;">01-10-2021</th>
            <td>10.00u - 11.00u</td>
            <td>Onno van Helfteren</td>
            <td><a class="btn" asp-area="Manage" asp-controller="Agenda" asp-action="Index">Annuleren</a><a class="btn" asp-area="Manage" asp-controller="Agenda" asp-action="Index">Patiënt info</a></td>
        </tr>
        <tr>
            <th scope="row" style=" width: 13rem;">01-10-2021</th>
            <td>10.00u - 11.00u</td>
            <td>Onno van Helfteren</td>
            <td><a class="btn" asp-area="Manage" asp-controller="Agenda" asp-action="Index">Annuleren</a><a class="btn" asp-area="Manage" asp-controller="Agenda" asp-action="Index">Patiënt info</a></td>
        </tr>
        <tr>
            <th scope="row" style=" width: 13rem;">01-10-2021</th>
            <td>10.00u - 11.00u</td>
            <td>Onno van Helfteren</td>
            <td><a class="btn" asp-area="Manage" asp-controller="Agenda" asp-action="Index">Annuleren</a><a class="btn" asp-area="Manage" asp-controller="Agenda" asp-action="Index">Patiënt info</a></td>
        </tr>
        <tr>
            <th scope="row" style=" width: 13rem;">01-10-2021</th>
            <td>10.00u - 11.00u</td>
            <td>Onno van Helfteren</td>
            <td><a class="btn" asp-area="Manage" asp-controller="Agenda" asp-action="Index">Annuleren</a><a class="btn" asp-area="Manage" asp-controller="Agenda" asp-action="Index">Patiënt info</a></td>
        </tr>
    </tbody>
</table>
