@{
    ViewData["Title"] = "Patiënten Lijst";
}
@model List<UsersViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Naam</th>
            <th scope="col">Email</th>
            <th scope="col">Geboorte datum</th>
        </tr>
    </thead>
    <tbody>

        @foreach (UsersViewModel user in @Model)
        {
            <tr>
                <th scope="row" style="width: 13rem;"><a class="btn" asp-area="Manage" asp-controller="Patient" asp-action="Info" asp-route-id="@user.UserId">Patiënt weergeven <i class="fa fa-eye"></i></a></th>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@($"{@user.BirthDate:dd-MM-yyyy}")</td>
            </tr>
        }
    </tbody>
</table>
