@{
    ViewData["Title"] = "Patiënten Lijst";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Naam</th>
            <th scope="col">Email</th>
            <th scope="col">Geboorte datum</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" style=" width: 13rem;"><a class="btn" asp-area="Manage" asp-controller="Patient" asp-action="Info">Patiënt weergeven <i class="fa fa-eye"></i></a></th>
            <td>Onno van Helfteren</td>
            <td>onno@fysioapp.com</td>
            <td>04-02-2002</td>
        </tr>
        <tr>
            <th scope="row" style=" width: 13rem;"><a class="btn" asp-area="Manage" asp-controller="Patient" asp-action="Info">Patiënt weergeven <i class="fa fa-eye"></i></a></th>
            <td>Onno van Helfteren</td>
            <td>onno@fysioapp.com</td>
            <td>04-02-2002</td>
        </tr>
        <tr>
            <th scope="row" style=" width: 13rem;"><a class="btn" asp-area="Manage" asp-controller="Patient" asp-action="Info">Patiënt weergeven <i class="fa fa-eye"></i></a></th>
            <td>Onno van Helfteren</td>
            <td>onno@fysioapp.com</td>
            <td>04-02-2002</td>
        </tr>
        <tr>
            <th scope="row" style=" width: 13rem;"><a class="btn" asp-area="Manage" asp-controller="Patient" asp-action="Info">Patiënt weergeven <i class="fa fa-eye"></i></a></th>
            <td>Onno van Helfteren</td>
            <td>onno@fysioapp.com</td>
            <td>04-02-2002</td>
        </tr>
        <tr>
            <th scope="row" style=" width: 13rem;"><a class="btn" asp-area="Manage" asp-controller="Patient" asp-action="Info">Patiënt weergeven <i class="fa fa-eye"></i></a></th>
            <td>Onno van Helfteren</td>
            <td>onno@fysioapp.com</td>
            <td>04-02-2002</td>
        </tr>
        <tr>
            <th scope="row" style=" width: 13rem;"><a class="btn" asp-area="Manage" asp-controller="Patient" asp-action="Info">Patiënt weergeven <i class="fa fa-eye"></i></a></th>
            <td>Onno van Helfteren</td>
            <td>onno@fysioapp.com</td>
            <td>04-02-2002</td>
        </tr>
        <tr>
            <th scope="row" style=" width: 13rem;"><a class="btn" asp-area="Manage" asp-controller="Patient" asp-action="Info">Patiënt weergeven <i class="fa fa-eye"></i></a></th>
            <td>Onno van Helfteren</td>
            <td>onno@fysioapp.com</td>
            <td>04-02-2002</td>
        </tr>
    </tbody>
</table>
