@{
    ViewData["Title"] = "Plannen";
}
<style>
    .btn-margin {
        margin-left: .2rem;
    }

    .div-margin {
        margin-top: 2rem;
    }

    .busy-text {
        margin-left: 1.4rem;
    }
</style>

<div class="row" style="margin-top: 4rem;">
    <div class="col-md-3">
        <h3>Maandag 01-10</h3>
        <div class="div-margin">
            <h4 class="d-inline-block">09.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">10.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">11.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">11.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">12.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">13.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">14.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">15.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">16.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
    </div>
    <div class="col-md-3">
        <h3>Dinsdag 02-10</h3>
        <div class="div-margin">
            <h4 class="d-inline-block">09.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">10.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">11.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">11.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">12.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">13.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">14.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">15.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">16.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
    </div>
    <div class="col-md-3">
        <h3>Woensdag 03-10</h3>
        <div class="div-margin">
            <h4 class="d-inline-block">09.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">10.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">11.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">11.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">12.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">13.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">14.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">15.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">16.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
    </div>
    <div class="col-md-3">
        <h3>Donderdag 04-10</h3>
        <div class="div-margin">
            <h4 class="d-inline-block">09.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">10.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">11.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">11.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">12.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">13.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">14.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">15.00u</h4>
            <a class="btn btn-margin">Plannen <i class="fa fa-calendar"></i></a>
        </div>
        <div class="div-margin">
            <h4 class="d-inline-block">16.00u</h4>
            <h5 class="d-inline-block busy-text">Bezet</h5>
        </div>
    </div>
</div>