@{
    ViewData["Title"] = "Login";
}

<div class="row" style="height: 100%;">
    <div class="col-md-5" style="height: 100%; position: relative">
        <div class="col-md-6" style="top: 35%; left: 50%; transform: translate(-50%, -50%); position: absolute;">
            <h3 class="text-center" style="margin-bottom: 25%;">Medewerker Login</h3>
            <div class="form-group">
                <label for="email">E-mailadres</label>
                <input type="email" class="form-control" id="email" placeholder="onno@fysioapp.com">
            </div>
            <div class="form-group">
                <label for="password">Wachtwoord</label>
                <input type="password" class="form-control" id="password" placeholder="Wachtwoord">
            </div>
            <br />
            <a class="btn btn-primary" style="width: 100%" asp-area="Manage" asp-controller="Dashboard" asp-action="Index">Inloggen als medewerker <i class="fa fa-lock-open"></i></a>
        </div>
    </div>
    <div class="col-md-2" style="height: 100%; position: relative">
        <div class="login-spacer"></div>
    </div>
    <div class="col-md-5" style="height: 100%; position: relative">


        <div class="col-md-6" style="top: 35%; left: 50%; transform: translate(-50%, -50%); position: absolute;">
            <h3 class="text-center" style="margin-bottom: 25%;">Patiënt Login</h3>
            <div class="form-group">
                <label for="email">E-mailadres</label>
                <input type="email" class="form-control" id="email" placeholder="onno@fysioapp.com">
            </div>
            <div class="form-group">
                <label for="password">Wachtwoord</label>
                <input type="password" class="form-control" id="password" placeholder="Wachtwoord">
            </div>
            <br />
            <a class="btn btn-primary" style="width: 45%; padding-left: 0; padding-right: 0;" asp-area="Patient" asp-controller="Dashboard" asp-action="Index">Registreren <i class="fa fa-user-plus"></i></a>
            <a class="btn btn-primary" style="width: 45%; float: right;" asp-area="Patient" asp-controller="Dashboard" asp-action="Index">Inloggen <i class="fa fa-lock-open"></i></a>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>
